body {
	background-color: #D6D6D6;
}

/*Start button 1*/
div.nav1 {
height: 25px;
width: 100px;
margin-top:0px;
padding:0;
background-image:url("aboutbutton100xON.jpg");
}

div.nav1 a, div.nav1 a:link, div.nav1 a:visited {display:block;}

div.nav1 img {width:100%;height:100%;border:0;}

div.nav1 a:hover img {visibility:hidden;}
/*End button 1*/

/*Start button 2*/
div.nav2 {
height: 25px;
width: 100px;
margin-left:100px;
margin-top:-25px;
padding:0;
background-image:url("storeinfobutton100xON.jpg");  
}

div.nav2 a, div.nav2 a:link, div.nav2 a:visited {display:block;}

div.nav2 img {width:100%;height:100%;border:0;}

div.nav2 a:hover img {visibility:hidden;}
/*End button 2*/

/*Start button 3*/
div.nav3 {
height: 25px;
width: 100px;
margin-left:200px;
margin-top:-25px;
padding:0;
background-image:url("goalieroombutton100xON.jpg");
}

div.nav3 a, div.nav3 a:link, div.nav3 a:visited {display:block;}

div.nav3 img {width:100%;height:100%;border:0;}

div.nav3 a:hover img {visibility:hidden;}
/*End button 3*/

/*Start button 4*/
div.nav4 {
height: 25px;
width: 100px;
margin-left:300px;
margin-top:-25px;
padding:0;
background-image:url("custombutton100xON.jpg");  
}

div.nav4 a, div.nav4 a:link, div.nav4 a:visited {display:block;}

div.nav4 img {width:100%;height:100%;border:0;}

div.nav4 a:hover img {visibility:hidden;}
/*End button 4*/

/*Start button 5*/
div.nav5 {
height: 25px;
width: 100px;
margin-left:400px;
margin-top:-25px;
padding:0;
background-image:url("meetbutton100xON.jpg");
}

div.nav5 a, div.nav5 a:link, div.nav5 a:visited {display:block;}

div.nav5 img {width:100%;height:100%;border:0;}

div.nav5 a:hover img {visibility:hidden;}
/*End button 5*/

/*Start button 6*/
div.nav6 {
height: 25px;
width: 100px;
margin-left:500px;
margin-top:-25px;
padding:0;
background-image:url("brandsbutton100xON.jpg");
}

div.nav6 a, div.nav6 a:link, div.nav6 a:visited {display:block;}

div.nav6 img {width:100%;height:100%;border:0;}

div.nav6 a:hover img {visibility:hidden;}
/*End button 6*/

/*Start button 7*/
div.nav7 {
height: 25px;
width: 100px;
margin-left:600px;
margin-top:-25px;
padding:0;
background-image:url("laxbutton100xON.jpg");
}

div.nav7 a, div.nav7 a:link, div.nav7 a:visited {display:block;}

div.nav7 img {width:100%;height:100%;border:0;}

div.nav7 a:hover img {visibility:hidden;}
/*End button 7*/

/*Start button 8*/
div.nav8 {
height: 25px;
width: 100px;
margin-left:700px;
margin-top:-25px;
padding:0;
background-image:url("figurebutton100xON.jpg");
}

div.nav8 a, div.nav8 a:link, div.nav8 a:visited {display:block;}

div.nav8 img {width:100%;height:100%;border:0;}

div.nav8 a:hover img {visibility:hidden;}
/*End button 8*/

/*Start button 9*/
div.nav9 {
height: 25px;
width: 100px;
margin-left:800px;
margin-top:-25px;
padding:0;
background-image:url("emailalertbuttonON.jpg");
}

div.nav9 a, div.nav9 a:link, div.nav9 a:visited {display:block;}

div.nav9 img {width:100%;height:100%;border:0;}

div.nav9 a:hover img {visibility:hidden;}
/*End button 9*/
